/* Global ReactQuill Overrides */

/* ReactQuill Font Families */
.ql-font-arial {
    font-family: 'Arial', sans-serif !important;
}

.ql-font-verdana {
    font-family: 'Verdana', sans-serif !important;
}

.ql-font-times-new-roman {
    font-family: 'Times New Roman', serif !important;
}

.ql-font-georgia {
    font-family: 'Georgia', serif !important;
}

.ql-font-courier-new {
    font-family: 'Courier New', monospace !important;
}

.ql-font-trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif !important;
}

.ql-font-plus-jakarta-sans {
    font-family: 'Open Sauce One', sans-serif !important;
}

/* Quill Font Picker Labels */
.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: 'Sans Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
    content: "Arial";
    font-family: 'Arial', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="verdana"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="verdana"]::before {
    content: "Verdana";
    font-family: 'Verdana', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="times-new-roman"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="times-new-roman"]::before {
    content: "Times New Roman";
    font-family: 'Times New Roman', serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="georgia"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="georgia"]::before {
    content: "Georgia";
    font-family: 'Georgia', serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="courier-new"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="courier-new"]::before {
    content: "Courier New";
    font-family: 'Courier New', monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="trebuchet-ms"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="trebuchet-ms"]::before {
    content: "Trebuchet MS";
    font-family: 'Trebuchet MS', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="plus-jakarta-sans"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="plus-jakarta-sans"]::before {
    content: 'Open Sauce One';
    font-family: 'Open Sauce One', sans-serif;
}